@media all and (min-width: 601px) {
  .body {
    --fontSize: 1.125rem;
  }

  .text-size--small {
    --fontSize: 1rem;
  }

  .text-size--medium{
    --fontSize: 1.125rem;
  }

  .text-size--large {
    --fontSize: 1.25rem;
  }
}


body {
  font-family: var(--baseFontFamily, 'Arial, sans-serif');
  font-size: var(--fontSize, 1rem);
  line-height: 1.25rem;
  color: var(--baseFontColor, #000);
}

.text-size--small {
  font-size: var(--fontSize, 0.875rem);
}

.text-size--medium {
  font-size: var(--fontSize, 1rem);
}

.text-size--large {
  font-size: var(--fontSize, 1.125rem);
}